* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px 0;
    width: 700px;
    margin: 0 auto;
}

/* heading part start */

.heading {
    margin-bottom: 15px;
}

.logoWithHeading {
    display: flex;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
}

.logoWithHeading .logo, .logoWithHeading .logo img {
    height: 100%;
}

.logoWithHeading .heading {
    padding-left: 25px;
    padding-right: 50px;
}

.logoWithHeading .heading .mainContent {
    text-align: center;
}

.logoWithHeading .heading .mainContent h3 {
    font-size: 29px;
    color: red;
}

.logoWithHeading .heading .mainContent p {
    color: #1d7dc1;
}

.heading .subHeading {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

/* heading part end */

/* invoice body start */

.taxInvoiceBody {
    width: 100%;
    border: 2px solid black;
}

.taxInvoiceBody .title {
    text-align: center;
}

.taxInvoiceBody .title p {
    border-bottom: 1px solid black;
}

.taxInvoiceBody .invoiceDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 19px;
}

.invoiceDetails .leftTable table {
    margin-left: -2px;
    border: 2px solid;
    border-spacing: 0;
    font-size: 14px;
}

.invoiceDetails .leftTable table tr.border-right td:first-child {
    border-right: 1px solid;
    width: 75px;
    padding-left: 2px;
}

.invoiceDetails .leftTable table tr.border-right td:last-child {
    width: 135px;
    text-align: right;
    padding-right: 2px;
}

.invoiceDetails .rightTable table {
    margin-right: -2px;
    border: 2px solid;
    border-spacing: 0;
    font-size: 14px;
}

.invoiceDetails .rightTable table td {
    width: 268px;
    padding-left: 2px;
}

/* customerDetails Start */

.customerDetails .addressTitle {
    height: 40px;
    border: 2px solid;
    border-bottom: 1px solid;
    margin: 0 -2px;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.customerDetails .addressInformation {
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
    margin-bottom: 19px;
}

.addressInformation .leftTable table {
    margin-left: -2px;
    border: 2px solid;
    border-spacing: 0;
    font-size: 14px;
}

.addressInformation .leftTable table td {
    width: 268px;
    padding-left: 2px;
}

.addressInformation .rightTable table {
    margin-right: -2px;
    border: 2px solid;
    border-spacing: 0;
    font-size: 14px;
}

.addressInformation .rightTable table td:first-child {
    width: 100px;
    padding-left: 2px;
}

.addressInformation .rightTable table td:last-child {
    width: 215px;
    text-align: right;
    padding-right: 2px;
}

.customerPan {
    font-size: 14px;
    margin: 0 -2px;
    margin-bottom: 19px;
}

.customerPan table {
    border: 2px solid;
    border-spacing: 0;
}

.customerPan table td {
    padding: 2px;
    text-align: center;
}

.itemDescriptonTable {
    font-size: 14px;
    margin: 0 -2px;
    margin-bottom: 19px;
}

.itemDescriptonTable table {
    border: 2px solid;
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

.itemDescriptonTable table td, th {
    padding: 5px;
}

.taxCalculation {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid;
}

.taxCalculation .leftTable {
    position: relative;
}

.taxCalculation .leftTable table {
    width: 180px;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid;
    border-right: 2px solid;
}

.taxCalculation .rightTable table {
    margin-right: -2px;
    margin-bottom: -1px;
    border: 2px solid;
    border-bottom: 1px solid;
    border-spacing: 0;
    font-size: 14px;
}

.taxCalculation .rightTable table th:first-child {
    width: 125px;
    padding-left: 2px;
}

.taxCalculation .rightTable table td:last-child {
    width: 215px;
    text-align: right;
    padding-right: 2px;
}

.taxInWords {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.taxInWords .left table {
    width: 180px;
    border-right: 2px solid;
}

.bankDetails {
    font-size: 14px;
    margin: 0 -2px;
    border: 2px solid;
    padding: 2px;
}

.bankDetails .bankDetailsContainer {
    display: flex;
    justify-content: space-between;
}

.consent {
    font-size: 14px;
    padding: 2px;
    margin: 0 -2px;
}

.finalAuth {
    font-size: 14px;
    margin: 0 -2px;
    border: 2px solid;
    border-bottom: unset;
    display: flex;
    height: 150px;
}

.finalAuth .sec1 {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.finalAuth .sec1 .subSec1 {
    flex: 1;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 2px;
}

.finalAuth .sec1 .subSec2 {
    flex: 1;
    display: flex;
    border-right: 2px solid;
    align-items: center;
    padding: 2px;
}

.finalAuth .sec2 {
    flex: 4.5;
}

.billFooter {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.borderRight {
    border-right: 1px solid;
}

.borderBottom {
    border-bottom: 1px solid;
}

.borderRight-2 {
    border-right: 2px solid;
}

.borderBottom-2 {
    border-bottom: 2px solid;
}